@import "@fontsource/sen";
:root {
  --dp-primary: #ffa500;
  --dp-danger: red;
  --dp-dark: #1a1a1a;
  --dp-white: #ffffff;
  --dp-accent: #f9a84d;
  --dp-accent2: #da6317;
  --dp-secondary: #eee;
  --dp-light: #f4f4ee;
}
html,
body {
  padding: 0;

  font-family: "Sen", sans-serif;
}

body {
  margin-bottom: 5rem;
  background-color: var(--dp-light);
}

h1 {
  font-weight: 400 !important;
}
.navbar-brand > span {
  font-size: 1.5rem;
  font-weight: 500;
}
a {
  color: inherit;
  text-decoration: none;
}

.card-body a {
  text-decoration: underline;
  transition: all ease-in 300;
  :hover {
    color: var(--dp-dark) !important;

    transform: scale(1.1);
  }
}
* {
  box-sizing: border-box;
}

.bg-change {
  background-color: var(--dp-white);
}

.search::-webkit-input-placeholder {
  color: var(--dp-accent2);
}

.navbar {
  transition: background-color ease-in-out 30ms;
  z-index: 99;
}

.desktop-only {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.navbar {
  form {
    .input-group-text {
      border: none;
    }
    * {
      border-radius: 50px;
      border: none;
      background-color: rgb(238, 238, 238);
    }
  }
}
