.intro {
  background: var(--dp-dark) url("/friedrice.jpg");
  min-height: 70vh;
  color: var(--dp-dark);
  background-size: cover;
  background-position: center;

  .text {
    font-weight: 700;
    font-size: 3rem;
    background-color: rgba($color: #f4f4f4, $alpha: 0.2);
    @media screen and (max-width: 768px) {
      font-size: 2rem;

      padding-top: 2.5rem;
    }
  }

  @media screen and (max-width: 768px) {
    min-height: 70vh;
  }
  video {
    width: 300px;
  }
}
