.intro {
  background-color: var(--dp-primary);
  min-height: 60vh;
  color: var(--dp-dark);
  margin-top: -10;
  .text {
    font-weight: 700;
    font-size: 3rem;

    @media screen and (max-width: 508px) {
      font-size: 2.5rem;
    }
  }

  video {
    width: 300px;
  }
}
